Dsl/GeneratedCode/AttackSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="AttackSchema" targetNamespace="http://schemas.microsoft.com/dsltools/Attack" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/Attack" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- NamedElement -->
  <xsd:element name="namedElement" abstract="true" type="NamedElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElement" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Overall base class that provides every element with a Name property which acts as its MonikerKey for serialization.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" abstract="true" type="NamedElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttackGraph -->
  <xsd:element name="attackGraph" type="AttackGraph" substitutionGroup="namedElement" />
  <xsd:complexType name="AttackGraph">
    <xsd:annotation>
      <xsd:documentation>Root element in which others are embedded.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AttackGraphHasFlowElements -->
          <xsd:element name="flowElements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of AttackGraphHasFlowElements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="attackGraphHasFlowElements" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AttackGraphHasFlowElements needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttackGraph Moniker -->
  <xsd:element name="attackGraphMoniker" type="AttackGraphMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="AttackGraphMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AttackGraph instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FlowElement -->
  <xsd:element name="flowElement" abstract="true" type="FlowElement" substitutionGroup="namedElement" />
  <xsd:complexType name="FlowElement" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Elements that can be connected by Flow links.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Flow -->
          <xsd:element name="flowTo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Flow</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="flow" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Flow needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Description -->
        <xsd:attribute name="description" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FlowElement Moniker -->
  <xsd:element name="flowElementMoniker" abstract="true" type="FlowElementMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="FlowElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FlowElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Task -->
  <xsd:element name="task" type="Task" substitutionGroup="flowElement" />
  <xsd:complexType name="Task">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TaskHasPreConditions -->
          <xsd:element name="conditioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TaskHasPreConditions</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="taskHasPreConditions" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TaskHasPreConditions needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Task Moniker -->
  <xsd:element name="taskMoniker" type="TaskMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="TaskMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Task instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StartPoint -->
  <xsd:element name="startPoint" type="StartPoint" substitutionGroup="flowElement" />
  <xsd:complexType name="StartPoint">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StartPoint Moniker -->
  <xsd:element name="startPointMoniker" type="StartPointMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="StartPointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StartPoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Endpoint -->
  <xsd:element name="endpoint" type="Endpoint" substitutionGroup="flowElement" />
  <xsd:complexType name="Endpoint">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Endpoint Moniker -->
  <xsd:element name="endpointMoniker" type="EndpointMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="EndpointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Endpoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MergeBranch -->
  <xsd:element name="mergeBranch" type="MergeBranch" substitutionGroup="flowElement" />
  <xsd:complexType name="MergeBranch">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MergeBranch Moniker -->
  <xsd:element name="mergeBranchMoniker" type="MergeBranchMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="MergeBranchMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MergeBranch instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Synchronization -->
  <xsd:element name="synchronization" type="Synchronization" substitutionGroup="flowElement" />
  <xsd:complexType name="Synchronization">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Synchronization Moniker -->
  <xsd:element name="synchronizationMoniker" type="SynchronizationMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="SynchronizationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Synchronization instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State -->
  <xsd:element name="state" type="State" substitutionGroup="flowElement" />
  <xsd:complexType name="State">
    <xsd:complexContent>
      <xsd:extension base="FlowElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: StateHasPostConditions -->
          <xsd:element name="conditioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of StateHasPostConditions</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="stateHasPostConditions" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of StateHasPostConditions needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State Moniker -->
  <xsd:element name="stateMoniker" type="StateMoniker" substitutionGroup="flowElementMoniker" />
  <xsd:complexType name="StateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for State instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FlowElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Condition -->
  <xsd:element name="condition" type="Condition" substitutionGroup="namedElement" />
  <xsd:complexType name="Condition">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Condition Moniker -->
  <xsd:element name="conditionMoniker" type="ConditionMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ConditionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Condition instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Flow -->
  <xsd:element name="flow" type="Flow" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Flow">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end FlowElement -->
          <xsd:element ref="flowElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Flow Moniker -->
  <xsd:element name="flowMoniker" type="FlowMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FlowMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Flow instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttackGraphHasFlowElements -->
  <xsd:element name="attackGraphHasFlowElements" type="AttackGraphHasFlowElements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AttackGraphHasFlowElements">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end FlowElement -->
          <xsd:element ref="flowElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AttackGraphHasFlowElements Moniker -->
  <xsd:element name="attackGraphHasFlowElementsMoniker" type="AttackGraphHasFlowElementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AttackGraphHasFlowElementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AttackGraphHasFlowElements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TaskHasPreConditions -->
  <xsd:element name="taskHasPreConditions" type="TaskHasPreConditions" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TaskHasPreConditions">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Condition -->
          <xsd:element ref="condition" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TaskHasPreConditions Moniker -->
  <xsd:element name="taskHasPreConditionsMoniker" type="TaskHasPreConditionsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TaskHasPreConditionsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TaskHasPreConditions instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateHasPostConditions -->
  <xsd:element name="stateHasPostConditions" type="StateHasPostConditions" substitutionGroup="core:modelElement" />
  <xsd:complexType name="StateHasPostConditions">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Condition -->
          <xsd:element ref="condition" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateHasPostConditions Moniker -->
  <xsd:element name="stateHasPostConditionsMoniker" type="StateHasPostConditionsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateHasPostConditionsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StateHasPostConditions instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum TaskSort -->
  <xsd:simpleType name="TaskSort">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Regular"/>
      <xsd:enumeration value="SuperTask"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

